.menu-nanny{
    width: 100%;
    min-height: 440px;
    background: #F1F3F6;
    padding-top: 35px;
    padding-bottom: 100px;
}

.combo-button{
    width: 100%;
    margin-bottom: 30px;
    height: 60px;
    background: #F7FBFC;
    border: 1px solid #6F80A5;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
    display: flex;
    justify-content: flex-start;
}

.send-data-button{
    width: 300px;
    height: 80px;
    text-align: center;

    background: #F7FBFC;
    border: 2px solid #6F80A5;
    box-sizing: border-box;
    box-shadow: 6px 6px 10px #4C5E8B;
    border-radius: 20px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    color: #000000;
}

.send-data-button:hover{
    background: #E9F0FF;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.8);
}

.center{
    display: flex;
    justify-content: center;
}
