.combo-button{
    width: 100%;
    background: #F7FBFC;
    border: 1px solid #6F80A5;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
    text-align: start;
    font-size: 17px;
    line-height: 23px;
}