p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    text-align: center;

    color: #000000;
}

.p-text{
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;

    color: #000000;
}