.main-reg-filter{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 35px;
    margin-left: 18px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.filter{
    display: flex;
    flex-wrap: wrap;
}

.margin-reg-top-15{
    margin-top: 25px;
}

.select-input{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid #6F80A5;
    box-sizing: border-box;
}

.select-mini-input{
    width: 45%;
    height: 40px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid #6f80a5;
    box-sizing: border-box;
}

.select-mini-input-s{
    width: 45%;
    height: 40px;
}

.input-mini-number{
    height: 40px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid #6f80a5;
    box-sizing: border-box;
    text-align: center;
}

.bg-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    line-height: 23px;

    margin-top: 10px;

    color: #000000;
}

.bg-long-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 17px;
    line-height: 23px;

    margin-top: 10px;

    color: #000000;
}

.text-slider{
    display: flex;
    justify-content: space-between;
}

.text-slider>p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.sml-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 10px;

    color: #000000;
}

.box-inputs-labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-mini-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}