.react-calendar {
  display: flex;
  flex-direction: column;

  background: white;
  border: 3px solid #6f80a5;
  border-radius: 20px ;
  font-family: Raleway, sans-serif;
  width: 300px;
  height: 300px;
}
/* aligning numbers in calendar */
.react-calendar__month-view {
  height: 100%;
}
.react-calendar__month-view > div {
  flex-direction: column;
  align-items: flex-start!important;
  height: 100%;
}
.react-calendar__month-view > div > div {
  display: flex;
  flex-direction: column;
}
.react-calendar__month-view__days {
  margin-block: auto;
}
/* aligning numbers in calendar */
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar__viewContainer {
  flex-grow: 1;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;

  color: #000000;
}
.react-calendar__navigation button {
  min-width: 30px;
  background: none;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  background-color: #B9C3D8;
;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.25em 0;
}
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: collapse;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  font-weight: normal;
  padding: 0.75em 0.5em;
  background: none;
  border-radius: 20px;
  border:1px solid #6f80a5;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--active {
  background: #6f80a5;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f80a5;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}