.text-area{
    padding: 10px 20px 35px 20px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;

    border: 0;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    color: #000000;

    scrollbar-track-color: #E5E5E5;
    scrollbar-arrow-color: #6F80A5;
    scrollbar-face-color: #c4c4c4;
}

.outer {
    margin-left: 18px;
    background: #ffffff;
    height: 250px;
    border: 3px solid #6F80A5;
    border-radius: 20px;
    overflow: hidden;
}

.inner {
    width: 100%;
    overflow-y: auto;
    height: 260px;
    margin-top: 21px;
    margin-right: 5px;
}