.modal-redact {
    position: relative;

    height: 350px;
    width: 350px;
}

.red-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}