.agree{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;

    color: #000000;
}

.display-right{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.reg-intro{
    font-size: 13px;
    color: #4C5E8B;
}