.input-reg{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid #6f80a5;
    padding: 11px 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.combo-button-reg{
    margin-bottom: 20px;
    margin-top: 35px;
    width: 100%;
    height: 75px;
    background: #F7FBFC;
    border: 0;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
    display: flex;


    justify-content: center;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    line-height: 23px;

    color: #000000;
}

.bg-reg-text{
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
}

.name-info-text {
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;

    margin-bottom: 30px;
}

.name-info-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    row-gap: 70px;
    align-items: center;
}

.name-info-subblock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.name-info-subblock-country {
    display: grid;
    grid-auto-columns: auto;
    column-gap: 30px;
}

.contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 30px;
}

.contacts-subblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-subblock > input {
    width: 320px;
}

.subtext-new {
    margin-top: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: left;

    color: #4C5E8B;
}