body{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
}

body * {
    font-family: Railway;
}

.button-group{
    display: flex;
}

.wrap-box{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .container {
        width: 1580px;
    }
}