.main-filter-search-subBlock{
    margin-top: 25px;
}

.group-input{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.input{
    background: #FFFFFF;
    border: 2px solid #6F80A5;
    box-sizing: border-box;
    border-radius: 15px;
    height: 40px;
    text-align: center;
}

.input-center{
    display: flex;
    width: 100%;
    justify-self: center;
}

.bg-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;

    color: #000000;
}

.long-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    color: #000000;
}

.sml-text{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
}

.box-inputs-with-labels{
    height: 40px;
    display: flex;
    justify-content: center;
}

.labels{
    margin-top: 15px;
    margin-right: 10px;
}

.input-margin{
    margin-left: 50px;
}

.text-slider{
    display: flex;
    justify-content: space-between;
}

.text-slider >p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
}
