.footer {
    width: 100%;
    background: #B9C3D8;
    min-height: 200px;

}

.footer a {
    margin-top: 30px;
}

.big-logo{
    margin-top: 50px;
    width: 284px;
    height: 70px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-row{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roles{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.roles-text{
    color: #153D70;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}



