

.footer a {
}

.big-logo{
    max-width: 284px;
    min-width: 284px;
    height: 70px;
}

.roles{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.roles-text{
    color: #153D70;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}



