.vacancy-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.vacancy-head-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-top-7{
    margin-top: 7px;
}

.info{
    width: 100%;
    background: #F7FBFC;
    border-radius: 20px;
    height: 270px;
    padding: 50px;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    padding: 0;
}

.bold-text-info{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
}

.light-text-info{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;

    color: #000000;
}

.description{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;

}

.text-description{
    background: #FFFFFF;
    border: 3px solid #6F80A5;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* or 32px */

    color: #000000;
}

.card-va{
    width: 100%;
    background: #F7FBFC;
    border-radius: 20px;
    padding: 30px 30px;
    margin: 50px 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}