.header-reg{
    background: transparent;
    height: 63px;
    z-index: 1000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding: 10px 0;
}

.logo{
    height: 43px;
}